<h1>--- my library ---</h1>

<div class="content">
    <div class="form-wrapper">
        <div class="linker"> 
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        
        
      </div>
        <form class="login-form">
        <input [(ngModel)]="login.name" type="text" name="username" placeholder="username" />
        <input [(ngModel)]="login.password" type="password" name="password" placeholder="password" />
        <button class="aaaaa"(click)="getCustByLogin()">Log in</button>
      </form>
     </div>
  </div>
