<h1> ---my library--- </h1>
<div class="content">
    <div class="form-wrapper">
        <div class="linker"> 
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
           <span class="ring"></span>
        <span class="ring"></span>
        <span class="ring"></span>
      </div>
        <form class="login-form">
        <input [(ngModel)]="newCustomer.name" type="text" name="username" placeholder="username" />
        <input [(ngModel)]="newCustomer.password"  type="password" name="password" placeholder="password" />
        <input [(ngModel)]="newCustomer.sum"  type="text" name="sumAllMonth" placeholder="sumAllMonth:50/100" />
        <input [(ngModel)]="newCustomer.email"  type="email" name="email" placeholder="email" />
        <button class="aaaaa"(click)="addCustomer()">sign up</button>
      </form>
     </div>
  </div>
